body{
   
    .items-footer{
     
       .img-items{
        width: 46px;
        height:42px ;
       
       }
       .nombre-items{
        font-size: 14px;
        color: #FFFFFF;
        
       }
        
    }
}