@font-face {
    font-family:SpaceGrotesk-Bold;
    src: url("SpaceGrotesk-Bold.ttf");
}
@font-face {
    font-family:SpaceGrotesk-Light;
    src: url("SpaceGrotesk-Light.ttf");
}
@font-face {
    font-family:SpaceGrotesk-Medium;
    src: url("SpaceGrotesk-Medium.ttf");
}
@font-face {
    font-family:SpaceGrotesk-Regular;
    src: url("SpaceGrotesk-Regular.ttf");
}
@font-face {
    font-family:SpaceGrotesk-SemiBold;
    src: url("SpaceGrotesk-SemiBold.ttf");
}