body {
    .seccion-blog {
        .sobre-nosotros-description {
            width: 455px;
            .sobre-nosotros {
                font-family: SpaceGrotesk-Bold;
                font-size: 25px;
                margin-top: 50px;
            }
            .description {
                font-family: SpaceGrotesk-Regular;
                margin-top: 20px;
                font-size: 15px;
            }
        }
        .contenedor-imagen {
            margin-left: 115px;
            .img-blog {
                width: 455px;
                height: 295px;
                margin-top: 50px;
            }
        }
    }
}
